@model IEnumerable<Model.CSVLog>

@{
    ViewBag.Title = "Log";
}

<h2>Log</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LogId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DtLog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtLog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }
</table>